<h2><%= @book.title %></h2>
<br>

<% if @book.author %>
    By: <%= link_to @book.author.full_name, author_path(@book.author) %>
<% end %>
<br>

Owned by: <%users = []%>
<% @book.users.each do |u| %>
    <% users << u %>
    <% users.uniq!%>
<% end %>
<% users.each do |u|%>
    <%= link_to u.username, user_path(u) %>
<% end %><br>

In Library:<% @book.libraries.each do |lib| %>
<%= link_to lib.name, library_path(lib)%>
<% end %><br>

<%if @book.loaned %>
On Loan To: <%= link_to @loaned.username, user_path(@loaned) %>
<%= link_to "Return Book", return_book_path %>
<% end %><br>

<%= link_to "Edit Book", edit_book_path(@book) %>
<%= link_to "Loan Book", loan_book_path(@book)%>
<%= form_tag book_path(@book), method: "delete" do %>
    <%= submit_tag "Delete #{@book.title}" %>
<% end %>