<%if @user == current_user %>
<h2>Hello, <%=@user.username%>!</h2>

<h4> Your Libraries: </h4>
<% else %>
<h2><%=@user.username%>'s Libraries</h2>
<%end%>
    <ul>
        <% @user.libraries.each do |lib| %>
            <li><%= link_to lib.name, library_path(lib) %>
        <% end %>
    </ul>

<%= link_to "Create New Library", new_library_path%>
<%= link_to "Add A Book", new_library_book_path(Library.find_by(name: Library.uncategorized_books)) %>
