<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= add_my_account_button %>
    <%= add_logout_button %>
    <% if current_user%>
    <p>Logged in: <%=current_user.username%></p>
    <% end %>
    <br>
    <%= flash.alert%><br>
    <%= yield %>
  </body>
</html>
